body {
    margin: 0;
    overflow: hidden;
    background: #6ec6ff;
    font-family: Arial;
}

#ui {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
    color: white;
    text-align: center;
}

#title {
    font-size: 48px;
    margin-bottom: 20px;
}

#subtitle {
    font-size: 26px;
    margin-bottom: 20px;
}

.button, .upgradeBtn {
    background: #ffa34d;
    border: none;
    padding: 18px 40px;
    margin: 12px;
    font-size: 24px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
}

.button:hover, .upgradeBtn:hover {
    background: #ffc27a;
}

#score {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    background: rgba(0,0,0,0.3);
    padding: 12px 15px;
    border-radius: 8px;
    font-size: 24px;
    display: none;
}

#soundToggle {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    padding: 10px;
    border: none;
    background: rgba(0,0,0,0.3);
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

canvas {
    display: block;
}
